@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Orbit-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/Orbit-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PyeongChang-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChang-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    background-color: #6283ae;
    height : 100%;
  }

body {
	box-sizing: border-box;
				width: 500px;
				height: 100vh;
				margin: 50px auto;
				background-color: rgb(255, 255, 255);
                border: 5px solid rgb(255, 255, 255);
    border-radius: 20px; /*모서리 둥글게*/
    align-items: center;
    display: flex;
    flex-direction: column;
}

.todo-title { 
    margin: 10px;
	font-family: 'PyeongChangPeace-Bold';
    font-size: 25pt;
    text-align: center; /*중앙 정렬*/
}

#todo-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

#todo-input {
    width: 60%;
    height: 40px;
    font-family: 'Orbit-Regular';
    font-size: 16px;
    border-radius: 15px;
    background-color: rgba(173, 204, 255, 0.5);
    text-align: center; /*중앙 정렬*/
  }
  
button {
    border: 0;
    width: 10%;
    background: none;
    font-size: 20px;
    cursor: pointer;
  }

.todolist-title,
.donelist-title { 
    padding-top:20px;
    font-family: 'PyeongChang-Bold';
    font-size: 20pt;
    text-align: left; /*중앙 정렬*/
  }

.todo-section,
.done-section {
width: 400px; 
height: 200px;
margin: 1px auto;
background-color: rgb(228, 228, 228);
border-radius: 40px; /*모서리 둥글게*/

}

#todo-list, #done-list {
    font-family: 'Orbit-Regular';
    text-align: center; /*중앙 정렬*/
    cursor: pointer;
    list-style: none;
    padding-left: 1rem;
    margin: 0;
    overflow: auto;
}

